**/build/*
**/sass/*
**/bootstrap*.js
**/ext-all*.js
**/ext-modern*.js
attic/*
deployment_workspace/*
docs/*
ext/*.js
ext/modern/modern/test/*
ext/packages/charts/server/*
ext/packages/font-awesome/*
ext/packages/font-ext/*
ext/packages/font-ios/*
ext/packages/font-pictos/*
ext/packages/google/*
ext/packages/legacy/*
ext/packages/soap/*
ext/resources/*
ext/templates/*
ext/test/*
ext/test_internal/*
ext/welcome/*
fiddle/*
lib/*
mondo_playground/*
packages/d3/d3.js
packages/d3/development/*
packages/d3/production/*
packages/d3/testing/*
packages/exporter/server/*
packages/pivot/architect/*
packages/pivot/server/*
packages/remote/package-loader/*
packages/froala-editor/froalaeditor.pkgd.*
reactor/*
staging/*
test/*
